@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 213, 213);
    font-family:Inter;
    height: 100vh;
}
.card{
    width: 678px;
    height: 620px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    height: 230px;
    width: 100%;
    background: center / cover url(assets/backny.png);
    border-radius: 12px 12px 0px 0px;
    display: flex;
    align-items: end;
    padding: 20px;
    color: white;
}
.title{
    size: 32px;
    line-height: 38.73px;
    background-color: #3A3A3AB2;
    padding: 10px;
    border-radius: 12px;
}
.bottom{
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 60px;
}
.userdesc h1{
    line-height: 43.57px;
    size: 36px;
}
.userdesc h2 {
    font-weight: 500;
    line-height: 29.05px;
    color:#939393;
}
.bottomloading{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.travelpr p{
    color: #939393;
    line-height: 21.78px;
    font-weight: 500;
}
.flight p {
        color: #939393;
        line-height: 21.78px;
        font-weight: 400;   
        text-align: right;
}
span{
    font-weight: 700;
    color: black;
}
.progressbar{
    width: 80%;
    height: 34px;
    border: 2px solid grey;
    background-color: #E0A863;
    border-radius: 99px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    animation: 2000ms kaizen cubic-bezier(.97,1.04,.99,1.06) infinite;
}
@keyframes  kaizen{
    0%{
        width: 80%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);
        
    }
    10% {
        width: 50%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    20% {
        width: 60%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    30% {
        width: 90%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    40% {
        width: 30%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    45%{
        width: 40%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    60%{
        width: 10%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);

    }
    70%{
        position: absolute;
        width: 70%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);
    }
    100%{
        width: 50%;
        background: center / cover url(https://i.gifer.com/Ui00.gif);
    }
}
.progressinfo{
    display: flex;
    justify-content: space-between;
}
.progressbck{
    background-color: grey;
    width: 565px;
    height: 34px;
    border: 2px solid grey;
    border-radius: 99px;
    color: white;
    display: flex;
    align-items: center;
}
.progressbck:hover .progressbar{
    width: 30%;
    background-color: rgb(131, 11, 11);
    box-shadow: 10px 2px 15px red;
}
.progressbck:hover p{
    color: rgb(255, 0, 0);
}
.loadingpositioner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pfp{
    width: 180px;
    height: 270px;
    background: center / cover url(assets/person.png);
    border: #E3E3E3 solid 5px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top:-75px;
    left: 250px;
}
.activitycircle{
    position: relative;
    z-index: 2;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: #50F27B;
    border-radius: 50%;
    border: #E3E3E3 solid 5px;
    top: 100px;
    right: -130px;
}